<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar proyecto</title>
</head>
<body>
    
    <h1>Agregar Proyecto al portafolio</h1>

    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Cargar</button>
    </form>

</body>
</html>